/* Css Variable start */

:root {
  --app-gray: #1a1a1a;
  --app-yellow: #ffe500;
  --app-lightGray: #f4f4f4;
}

/* Css Variable end */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");


* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/* Header Start */

header {
  background-color: var(--app-gray);
  padding: 20px 0;
}

.icons {
  width: 60%;
  margin: auto;
  display: flex;
}

.icon {
  width: 50%;
}

.i-1 {
  text-align: left;
}

.i-2 {
  text-align: right;
}

.center {
  text-align: center;
  margin-top: 280px;
}

.center h1 {
  font-size: 1.25em;
  letter-spacing: 15px;
  color: white;
  font-weight: 200;
}

.center p {
  font-size: 0.8em;
  font-weight: 200;
  color: white;
  letter-spacing: 5px;
  margin-top: 35px;
}

.center a {
  display: inline-block;
  text-transform: uppercase;
  padding: 16px 35px;
  text-decoration: none;
  letter-spacing: 4px;
  color: var(--app-gray);
  margin-top: 50px;
  background-color: var(--app-yellow);
}

.center img {
  display: block;
  margin: auto;
  margin-top: 250px;
}

/* Header End */



/* Main Start */

main {
  padding-top: 170px;
  padding-bottom: 220px;
  background-color: white;
  text-align: center;
}

main p {
  font-size: 0.9em;
  color: #939393;
  width: 30%;
  margin: auto;
  line-height: 30px;
  margin-top: 95px;
}

/* Main End */


/* Services Start */

#services {
  padding-bottom: 35px;
  padding-top: 80px;
  background-color: #f4f4f4;
}

#sub-services {
  text-align: center;
  width: 60%;
  margin: auto;
}

#sub-services h1 {
  font-size: 1.25em;
  letter-spacing: 15px;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 35px;
  color: var(--app-gray);
}

#sub-services p {
  margin-top: 45px;
  font-size: 0.9em;
  color: #939393;
  line-height: 30px;
}

#items {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 85px;
}

#Skills {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.item {
  width: 23.5%;
  text-align: center;
  box-shadow: 0 0 5px lightgray;
  box-sizing: border-box;
  padding: 25px;
  border: 0;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 12px;
  padding-left: 12px;
}

#Skills .item {
  width: 23.5%;
  text-align: center;
  box-shadow: 0 0 5px lightgray;
  box-sizing: border-box;
  border: 0;
  background-color: white;
  padding-top: 15px;
  padding-right: 12px;
  padding-left: 12px;
}

#Skills .item p {
  letter-spacing: 2px;
  font-size: 0.8em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
}

.outSection {
  background-color: var(--app-lightGray);
  width: 100%;
  height: 0.5vh;
  margin-bottom: 20px;
}

.inSectionk {
  background-color: var(--app-yellow);
  height: 0.5vh;
  text-align: left;
}

.i-1 .outSection .i-1 {
  width: 85%;
}


.i-1 .outSection .i-2 {
  width: 98%;
}

.i-1 .outSection .i-3 {
  width: 72%;
}

.i-2 .outSection .i-1 {
  width: 97%;
}

.i-2 .outSection .i-2 {
  width: 78%;
}

.i-2 .outSection .i-3 {
  width: 89%;
}

.i-3 .outSection .i-1 {
  width: 98%;
}

.i-3 .outSection .i-2 {
  width: 98%;
}

.i-3 .outSection .i-3 {
  width: 76%;
}

.i-4 .outSection .i-1 {
  width: 79%;
}

.i-4 .outSection .i-2 {
  width: 82%;
}

.i-4 .outSection .i-3 {
  width: 77%;
}

#items .item h1 {
  margin-top: 35px;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 0.8em;
  color: var(--app-gray)
}

#items .item p {
  color: var(--app-gray);
  font-size: 0.8em;
  margin-top: 45px;
  color: gray;
}

/* Services End */


/* Stats Start */

#Stats {
  background-color: var(--app-gray);
  padding: 85px 0px;
}

#StartsItems {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#StartsItems .item {
  width: 23.5%;
  text-align: center;
  box-shadow: 0 0 5px lightgray;
  box-sizing: border-box;
  border: 0;
  padding: 0px;
  background-color: white;
}

#StartsItems .item h2 {
  font-size: 1em;
  padding-top: 15px;
}


#StartsItems .item p {
  margin-top: 13px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--app-gray);
  margin-bottom: 20px;
}

/* Stats End */


/* Portfolio Start */

#Portfolio {
  padding-bottom: 35px;
  padding-top: 80px;
  background-color: #ffffff;
}

#sub-Portfolio {
  text-align: center;
  width: 60%;
  margin: auto;
}

#sub-Portfolio h1 {
  font-size: 1.25em;
  letter-spacing: 15px;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 35px;
  color: var(--app-gray);
}

#sub-Portfolio p {
  margin-top: 45px;
  font-size: 0.9em;
  color: #939393;
  line-height: 30px;
}

#Portfolio .box {
  width: 60%;
  margin: auto;
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
  align-items: center;
}

#Portfolio .Boxitem {
  width: 40%;
}

#Portfolio .i-1m.i-3 {
  justify-content: center;
  text-align: center;
}

#Portfolio .border {
  display: flex;
}

#Portfolio .border p {
  width: 45%;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  margin-left: 20px;
  color: var(--app-gray);
}

#Portfolio .i-1 .liner {
  background-color: black;
  height: 0.05vh;
}

#Portfolio .i-3 .liner {
  background-color: black;
  height: 0.05vh;
}

#Portfolio .i-1 .border {
  margin-top: 25px;
  margin-bottom: 30px;
}

#Portfolio .i-3 .border {
  margin-top: 25px;
  margin-bottom: 30px;
}

.Colors {
  width: 100%;
  margin-top: 90px;
  height: 31vh;
  display: flex;
}

.color {
  width: 17%;
}

.color .i-1 {
  position: relative;
}

.inColor {
  height: 24%;
  background-color: var(--app-yellow);
  width: 12%;
  z-index: 2;
  position: absolute;
  margin-top: 30px;
  margin-left: 35px;
}

.words {
  margin-top: 45px;
  margin-left: 11px;
  width: 90%;
  height: 51%;
  background-color: #ffffff;
  z-index: 4;
  position: relative;
  text-align: center;
  padding-top: 35px;
}

.words h2 {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.8em;
  color: var(--app-gray);
}

.words p {
  font-size: 0.8em;
  margin-top: 30px;
  color: gray;
}

.aSec {
  width: 100%;
  margin: auto;
  text-align: center;
}

#Portfolio a {
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  padding: 16px 35px;
  text-decoration: none;
  letter-spacing: 4px;
  color: var(--app-gray);
  margin-top: 85px;
  background-color: var(--app-yellow);
}

/* Portfolio End */


/* Video Start */

#Video {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 85px;
  background-color: var(--app-gray);
  padding-top: 145px;
  padding-bottom: 150px;
}

#Video a {
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--app-yellow);
  color: var(--app-yellow);
  text-transform: uppercase;
  padding: 30px 45px;
  letter-spacing: 13px;
  background-color: var(--app-gray);
}

/* Video End */


/* LastSection Start */

#LastSection {
  background-color: #ffffff;
  width: 100%;
  margin: auto;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 55px;
  justify-content: center;
  position: absolute;
}

.last1 {
  width: 70%;
  margin: auto;
}

.last1 h2 {
  margin-top: 35px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-weight: 200;
  color: var(--app-gray);
}

.last1 p {
  margin-top: 40px;
  font-size: 0.9em;
  color: #939393;
  line-height: 20px;
  letter-spacing: 2px;
  width: 80%;
  margin: auto;
}

.last2 {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;

}

.last2 .itemLast {
  width: 23.5%;
  text-align: center;
  border: 0;
  box-shadow: 0 0 5px lightgray;
  box-sizing: border-box;
}

.last2 .itemLast .i-1 {
  height: 291px;
  width: 100%;
  background-color: var(--app-gray);
}

.last2 h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 200;
  color: var(--app-gray);
  background-color: var(--app-yellow);
  padding: 25px 0;
  align-items: center;
}

.last2 p {
  width: 80%;
  margin: auto;
  margin-top: 25px;
  font-size: 0.9em;
  color: #939393;
  line-height: 15px;
  letter-spacing: 2px;
  margin-bottom: 35px;
}

.last3 {
  width: 70%;
  margin: auto;
  display: flex;
  margin-top: 95px;
  height: 50vh;
  position: relative;
}

.lastItem3 {
  width: 48%;
  height: 100%;
  margin: auto;
  text-align: center;
  justify-content: space-between;
  position: relative;
}

.lastItem3 .i-1 p {
  padding-bottom: 90px;
  font-size: 1.2em;
  padding-top: 55px;
  padding-left: 75px;
  padding-right: 75px;
  line-height: 20px;
  background-color: var(--app-gray);
  color: var(--app-lightGray);
}

.lastItem3 .i-2 p{
  margin-top: 85px;
  padding-right: 55px;
  padding-left: 95px;
  font-size: 0.8em;
  line-height: 15px;
  letter-spacing: 2px;
  color: var(--app-gray);
}

.lastItem3 .i-2 h2{
  font-size: 1em;
  margin-top: 35px;
  text-align: left;
  padding-left: 115px;
  letter-spacing: 2px;
  font-weight: 350;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding-bottom: 70px;
}

.BackYellow{
  background-color: var(--app-yellow);
  width: 100%;
  height: 290px;
  position: absolute;
  margin-top: 300px;
}

/* LastSection End */


/* Footer Start */

footer{
    margin: 0;
    margin-top: 55px;
    clear:both;
    width: 100%;
    height: 50vh;
    background-color: blue;
}

/* Footer End */